@font-face {
    font-family:"SuperShiny";
    src: url("./heading_font/SuperShiny.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(bg.png);
    background-size: cover;
}

h1 {
    font-family: "SuperShiny", sans-serif;
    font-weight: 300;
    font-size: 60px;
    text-shadow: 2px 2px 2px white;
    margin-top: 15px;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    gap: 75px;
    font-size: 25px;
}
#you, #comp {
    display: flex;
    flex-direction: column;   /* stack score and label vertically */
    align-items: center;      /* center them horizontally */
}

#youScore, #compScore {
    font-size: 55px;
    margin-top: -30px;
}
p {
    margin: 0;
}

.msgContainer {
    font-size: 25px;
    margin-top: 0px;
    background-color: #ffafcc;
    padding: 12px;
    border-radius: 10px;
    border: 5px outset pink ;
}

.options {
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 100px;
    gap: 20px;
}

.option {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    padding: 0; /* Add this to remove default button padding */
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.option:hover {
    box-shadow: 6px 6px 5px white, -5px -5px 5px white;
}
#paper:hover {
    box-shadow: 8px 8px 5px #996fd6, -4px -4px 5px #996fd6;
}

.option img {
    height: 150px;
    width: 150px;
    border-radius: 25%;
}

#newGame {
    position: fixed;
    bottom: 31.5px;
    cursor: pointer;
    background-color: black;
    color: pink;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}
#newGame:hover {
    box-shadow: 6px 7px 5px white;
}
